{% extends 'plantillas.html' %} -heredar el archivo-
{% block body %}

    <div class="mt-5 mb-5">    
    <h1 class="display-1 text-center">Eliminar album</h1>
    </div>
    <div class="container center">
        <div class="card card-body mb-5 center">
    <p>¿Seguro que deseas eliminar el Album? {{albumEli.1}} {{albumEli.2}} {{albumEli.3}}</p>
    <div class="col-md-5 center">
        <form action="/eliminar/{{albumEli.0}}" method="POST">
            <div class="d-grid gap-2 col-6 mx-auto mb-2 center">
                <button type="submit" class="btn btn-outline-info">Eliminar</button>
            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock %}